//* Setting
html {
	font-size: 62.5%;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #eee;
}

//* Mixins
@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
	/*
		box-shadow: x y blur scale color;
	*/
}

//* Captain shield
.shield {
	width: 10rem;
	height: 10rem;
	margin: 15rem;

	color: white;
	background-color: #00aefd;

	font-size: 8.5rem;
	text-align: center;
	line-height: 8.5rem;

	border-radius: 50%;
	@include box-shadow(0 0 0 3rem #f77870, 0 0 0 6rem white, 0 0 0 9rem #f77870);
}
